.text-input{
    align-items: flex-start;
    padding: 0.4rem 0.8rem;
    border: 1px solid lightgray;
    background-color: rgba(245, 245, 245, 0.63);
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-input:focus{
    outline: none;
    border: 1px solid darkgray;
}