.outputHeading{
    margin: 0;
    font-size: 1.2rem;
}

.outWin{
    margin-bottom: 0.4rem;
    /* padding: 0.4rem 0.6rem; */
    height: 10rem;
    width: 100%;
    background-color: rgb(27, 27, 27);
    overflow-y: auto;
    overflow-x: hidden;
}

pre{
    width: 100%;
    word-wrap: break-word;
    padding: 0.5rem;
    margin: 0;
}

.red{
    color: rgb(228, 40, 40);
    font-size: 0.9rem;
}

.green{
    color: rgb(32, 206, 32);
    font-size: 0.9rem;
}